* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navBar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 1000;
  margin: 3px;
  top: 0;
  width: 100%;
  height: 70px;
}
.designText {
  font-size: 1.4rem;
  font-weight: 700px;
  font-family: cursive;
  cursor: pointer;
}
.navLinks {
  list-style: none;
  display: flex;
  gap: 40px;
}
a{
    text-decoration: none;
    color: black;
}
.navLinksLists {
  font-size: 1.1rem;
  position: relative;
  transition: color 0.4s ease;
}
.navLinksLists::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -6px;
  width: 0%;
  height: 2px;
  transition: color 0.4s ease;
}
.navLinksLists:hover {
  color: #38bdf8;
}
.navLinksLists:hover::after {
  width: 100%;
}
@media (max-width< 768px) {
  .navBar {
    padding: 0px 20px;
  }
  .navLinks {
    display: none;
  }
}
