span::after{
    content: "|";
    animation: blink ls infinite;
}
@keyframes blink{
    0%,50%,100%{opacity: 1};
    25%, 75%{opacity: 0};
}
h2{
    font-size: 44px;
}
.typerWritter{
    color: rgb(111, 111, 255);
}