.footer {
  background-color: #fdfeff; /* Dark background */
  color: #0a0a0a;           /* Light text */
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

.social-icons {
  display: flex;
  gap: 1.2rem;
}

.social-icons img {
  width: 45px;              /* Bigger size */
  height: 45px;
  border-radius: 50%;       /* Make circular */
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}

.social-icons img:hover {
  transform: scale(1.4);
  opacity: 0.8;
}

.footer p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}